.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.filter-input {
  width: 20rem;
  margin-bottom: 5rem;
}

.jobs-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.jobs-count span {
  font-size: 3rem;
}
.jobs-count span:first-child {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
